.design-page-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: url('/img/background_space.jpg'); 
    background-size: cover;
    min-height: 100vh;
    margin-top: 100px;
}

.mockup-section {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    height: 500px;
}
.react-draggable {
    cursor: move !important;
}

.logo-wrapper {
    user-select: none;
    -webkit-user-drag: none;
}

.product-canvas {
    position: relative;
    width: 440px;
    height: 490px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ddd;
}

.base-product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    cursor: move;
}

.params-section {
    background: #f0f4ff;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: #e0e7ff;
    border-radius: 5px;
}

.color-dot {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.color-dot.active { border-color: #000; }
.black { background: #000; }
.blue { background: #7b9acc; }
.red { background: #c0392b; }
.pink { background: #d2527f; }
.olive { background: #94aa33; }

.btn-send {
    width: 100%;
    padding: 15px;
    background: #a29bfe;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-send:hover { background: #6c5ce7; }
/* Design.css */



.logo-wrapper img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
}
.size-slider {
    width: 100%;
    cursor: pointer;
    accent-color: #2980b9; 
    margin-top: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}